.customlogo{
    height: 100px;
    width: 200px;    
}

.customlink{
  list-style: none;
}

.customsfondo1{
background: linear-gradient(rgb(255, 255, 255),rgba(255, 70, 70, 0.122)),url("./immagine/switzerland-862870_1920.jpg");
height: 100vh;
background-repeat: no-repeat;
}



.imgcent1{
  position:absolute;
  bottom: 0px;
  left: 0px;
  height: 700px;
  width: -px;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Nova Square', cursive;
  color: darkred;
}

p{
 font-family: 'Rajdhani', cursive;
}

h1{
  color: darkred;
  font-size: 65px;

}
.incone-altezza{
  min-height: 500px;

}

.virgolette{
  color: darkred;
}

.border-danger::before{
  
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
    position: absolute;
    bottom: -12px;
    left: 43px; 
}

.customimgp2{
  
  bottom: 0px;
  left: 0px;
  width: 98vw;
  right:-50px; 
  margin-top: -300px;
}

.colorecontenitore{
  background-color: rgb(239, 234, 234);
}

.iconacentr{
  height: 40px;
  width: 40px;
}

.logointermedi{
  font-size: 40px;
  margin-bottom: 10px;
  color: darkred;
}

.border-start::before{
  
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid darkred;
  position: absolute;
  top: 5px;
  left: -10px; 
}

.imgp2{
  position:absolute;
  bottom: 0px;
  left: 1250px;
  height: 500px;
  width: -px;}

.cardimgtond{
    width: 16rem;
    border: none;
} 

.imgcardmini{
  width: 200px;
  height: 200px;
  
  
}


.social{
  color: darkred;
}

.immaginecondidascalia{
  width: 300px;
  height: 300px;
}
.imgfinal{
  width: 98vw;
}

.contenitore2{
  background-color: rgb(239, 234, 234) ;
}

.footerfin{
  
  color: white;
}
 

.colorefooter{
  background-color: darkred;
}


